<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ProjectTemplate" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ProjectTemplate;Integrated Security=True;Connect Timeout=60" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>