framework: >= net45
source https://nuget.org/api/v2

# The setting below means your libraries will assume a minimum of FSharp.Core 
# for F# 4.0 (nuget package 4.0.0.1). If you would like to assume a higher minimum
# then change to 4.1.17 or later.

nuget FSharp.Core ~> 4.0.0.1 strategy: min, redirects: force

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2
