frameworks: net45, net46, net461, net462
source https://nuget.org/api/v2

nuget FSharp.Core ~> 4.0.0.1 strategy: min redirects: force

group Build
  source https://nuget.org/api/v2
  
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
  source https://nuget.org/api/v2
  
  nuget NUnit ~> 2
  nuget NUnit.Runners ~> 2