<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectTemplate" connectionString="Server=tcp:hx17quifh0.database.windows.net,1433;Database=projectscaffoldwithapps;User ID=projectscaffoldwithapps@hx17quifh0;Password=Dhiosdfi_446;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
