type project
title
    ##ProjectName##
owners
    ##Author##
authors 
    ##Author##
projectUrl
    ##GitUrl##/##GitHome##/##GitName##
iconUrl
    ##GitRawUrl##/##GitHome##/##GitName##/master/docs/files/img/logo.png
licenseUrl
    ##GitUrl##/##GitHome##/##GitName##/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ##Tags##
summary
    ##Summary##
description
    ##Description##


