type project
title
    ##ProjectName##
owners
    ##Author##
authors 
    ##Author##
projectUrl
    http://github.com/##GitHome##/##GitName##
iconUrl
    https://raw.githubusercontent.com/##GitHome##/##GitName##/master/docs/files/img/logo.png
licenseUrl
    http://github.com/##GitHome##/##GitName##/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ##Tags##
summary
    ##Summary##
description
    ##Description##


